<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">Hello</span>Books</h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="index.html">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">SERVICES</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<h1>BOOK CATALOG</h1>
			<p>You can select your books here</p>
		</div>
	</section>

	<section id="newsletter">
		<div class="container">
			<h1>SELECT BOOKS FROM CATALOG</h1>
			<form action="">
				<input type="email" placeholder="Enter Email...">
				<button type="submit" class="button-1">SUBMIT</button>
			</form>
		</div>
		<div class="clearance"></div>
	</section>

	<section id="boxes">
		<div class="container">
			<div class="box">
				<img src="images/image2.jpg">
				<h3>IMAGE 1</h3>
			</div>
			<div class="box">
				<img src="images/image2.jpg">
				<h3>IMAGE 2</h3>
			</div>
			<div class="box">
				<img src="images/image3.jpg">
				<h3>IMAGE 3</h3>
			</div>
		</div>
		<div class="container">
			<div class="box">
				<img src="images/image5.jpg">
				<h3>IMAGE 4</h3>
			</div>
			<div class="box">
				<img src="images/image3.jpg">
				<h3>IMAGE 5</h3>
			</div>
			<div class="box">
				<img src="images/image5.jpg">
				<h3>IMAGE 6</h3>
			</div>
		</div>
	</section>
	<div class="clearance"></div>
	
	<footer>
		<p>Copyright &copy; 2017</p>
	</footer>
</body>
</html>