<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">Hello</span>Books</h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="index.html">HOME</a></li>
					<li><a href="#">BOOKS</a></li>
					<li><a href="#">FAVORITE BOOKS</a></li>
					<li><a href="#">PROFILE</a></li>
					<li><a href="#">SERVICES</a></li>
					<li><a href="#">ADMIN DASHBOARD</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<h1>BOOK CATALOG</h1>
			<p>You can select your books here</p>
		</div>
	</section>

	<section id="newsletter">
		<div class="container">
			<h1>SEARCH BOOKS FROM CATALOG</h1>
			<form action="">
				<!--<input type="email" placeholder="Enter Email...">-->
				<select>
					<option value="Search">Search</option>
					<option value="Sciences">Sciences</option>
  					<option value="Arts">Arts</option>
  					<option value="Commerce">Commerce</option>
  					<option value="Socials">Socials</option>
  					<option value="Business">Business</option>
  					<option value="Education">Education</option>
				</select>
				<button type="submit" class="button-1">SUBMIT</button>
			</form>
		</div>
		<div class="clearance"></div>
	</section>

	<section id="boxes">
		<div class="container">
			<div class="box">
				<img src="images/image2.jpg">
				<h3>SCIENCES</h3>
			</div>
			<div class="box">
				<img src="images/image2.jpg">
				<h3>ARTS</h3>
			</div>
			<div class="box">
				<img src="images/image3.jpg">
				<h3>SOCIALS</h3>
			</div>
		</div>
		<div class="container">
			<div class="box">
				<img src="images/image5.jpg">
				<h3>COMMERCE</h3>
			</div>
			<div class="box">
				<img src="images/image3.jpg">
				<h3>EDUCATION</h3>
			</div>
			<div class="box">
				<img src="images/image5.jpg">
				<h3>BUSINESS</h3>
			</div>
		</div>
	</section>
	<div class="clearance"></div>
	
	<footer>
		<p>Copyright &copy; 2017</p>
	</footer>
</body>
</html>