<!doctype html>
<html>
  <head>
    <title>Reset Password</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Hello</span>Books</h1>
        </div>
      </div>
    </header>

    <div class="supporting">
      <div class="container">
        
        <div class="col">
          
          <div id= "container" style ="width : 400px; margin :auto; border: auto; border-style : solid; padding: 10px">
            <h2>RESET PASSWORD</h2>

            <input type="text" id="pass-reset-email" class="text-input email-input" name="session[Email]" autocomplete="on"placeholder="Email"/>
                     
            <br/><br/>
            <button type="submit" id = "pass_reset" onclick = "forget_passfunc()"> Reset Password  </button>
          </div>
          <p id = "reset_msg"></p>
          <p id = "reset_msg2"></p>  
        </div>
      </div>    
    </div> 

    </div>
      <div class="clearfix"></div>
    </div>

    <footer>
      <p>Copyright &copy; 2017</p>
    </footer>
    
  </body>
</html>