<!doctype html>
<html>
  <head>
    <title>Reset Password</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="header">
      <div class="nameLogo">
        <p>Hello Books</p>
      </div> 
    </div>

    <div class="supporting">
      <div class="container">
        
        <div class="col">
          
          <div id= "container" style ="width : 400px; margin :auto; border: auto; border-style : solid; padding: 10px">
            <h2>RESET PASSWORD</h2>

            <input type="text" id="pass-reset-email" class="text-input email-input" name="session[Email]" autocomplete="on"placeholder="Email"/>
                     
            <br/><br/>
            <button type="submit" id = "pass_reset" onclick = "forget_passfunc()"> Reset Password  </button>
          </div>
          <p id = "reset_msg"></p>
          <p id = "reset_msg2"></p>  
        </div>
      </div>    
    </div> 

    </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer"></div>
    
  </body>
</html>