<!doctype html>
<html>
  <head>
    <title>Change Password Page</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <div class="header">
      <div class="nameLogo">
        <p>Hello Books</p>
      </div> 
    </div>

    <div class="supporting">
      <div class="container">
        
        <div class="col">
          
          <div id= "container" style ="width : 400px; margin :auto; border: auto; border-style : solid; padding: 10px">
            <h2>CHANGE PASSWORD</h2>

                <input type="text" id="pass-change-email" class="text-input email-input" name="session[Email]" autocomplete="on"
                placeholder="Email"  />
                     
                <br/><br/>
              
                <input type="password" id="old-password" class="text-input email-input" name="session[old_password]" autocomplete="on"
                placeholder="Old Password"  />
                     
                <br/><br/>
                  
                <input type="password" id="new-password" class="text-input flex-table-input" name="session[new_password]" placeholder="New Password"/>
                    
                <br/><br/>

                <button type="submit" id = "pass_reset" onclick = "changePassfunc()"> Change Password  </button>
          </div>
            <p id = "changePass_msg"></p>
          </div>
        </div>    
      </div>    
      
    </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer"></div>
    
  </body>
</html>