<!DOCTYPE html>
<html>
  <head>
    <title>Sign up Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Hello</span>Books</h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li class="current"><a href="sign_up.html">SIGN UP</a></li>
            <li><a href="admin.html">ADMIN DASHBOARD</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="supporting">
      <div class="container">
        
        <div class="col">
          <div id= "container" style ="width : 400px; margin :auto; border: auto; border-style : solid; padding: 10px">
          
            <h2><strong>New to this site?</strong> Sign up</h2>

            <div class="field">
              <input type="text" class="text-input" autocomplete="off" name="user[name]" id = "reg_first_name" maxlength="30" placeholder="First Name">
            </div>

            <div class="field">
              <input type="text" class="text-input" autocomplete="off" name="user[name]" id = "reg_last_name" maxlength="30" placeholder="Last Name">
            </div>
            
            <div class="field">
              <input type="text" class="text-input email-input" autocomplete="off" name="user[email]" id = "reg_email" placeholder="Email">
            </div>
            
            <div class="field">
              <input type="password" class="text-input" name="user[user_password]" id = "reg_pass" placeholder="Password">
            </div>

            <div class="field">
              <input type="address" class="text-input" name="user[user_address]" id ="reg_add" placeholder="Address">
            </div>

            <button type="submit" class="btn signup-btn u-floatRight" onclick = "regfunc()"> Sign up </button>
          </div>
          <p id = "sign-up-error"></p>
        </div>
      </div>    
    </div>    
      
    </div>
      <div class="clearfix"></div>
    </div>

    <footer>
      <p>Copyright &copy; 2017</p>
    </footer>
    
  </body>
</html>