<!doctype html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="nameLogo">
        <p>Hello Books</p>
      </div> 
    </div>

    <div class="supporting">
      <div class="container">
        
        <div class="col">
          <div id= "container" style ="width : 400px; margin :auto; border: auto; border-style : solid; padding: 10px">
          
            <h2><strong>New to this site?</strong> Sign up</h2>

            <div class="field">
              <input type="text" class="text-input" autocomplete="off" name="user[name]" id = "reg_first_name" maxlength="30" placeholder="First Name">
            </div>

            <div class="field">
              <input type="text" class="text-input" autocomplete="off" name="user[name]" id = "reg_last_name" maxlength="30" placeholder="Last Name">
            </div>
            
            <div class="field">
              <input type="text" class="text-input email-input" autocomplete="off" name="user[email]" id = "reg_email" placeholder="Email">
            </div>
            
            <div class="field">
              <input type="password" class="text-input" name="user[user_password]" id = "reg_pass" placeholder="Password">
            </div>

            <div class="field">
              <input type="address" class="text-input" name="user[user_address]" id ="reg_add" placeholder="Address">
            </div>

            <button type="submit" class="btn signup-btn u-floatRight" onclick = "regfunc()"> Sign up  </button>
          </div>
          <p id = "sign-up-error"></p>
        </div>
      </div>    
    </div>    
      
    </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer"></div>
    
  </body>
</html>